
main .animation-board .control .fs {
    height: 28%;
}

main .animation-board .control .info {
    height: 33%;
}

main .animation-board .control .info p {
    margin: 0; 
}

main .animation-board .control .fs p {
    margin: 1px 0;
    padding: 0;
    font-size: 1rem !important;
}





/* Draw the signal */

.point {
    fill: yellow;
}

main .animation-board .control .hidden {
    display: none;
    height: 0;
}

main .control button {
    display: flex;
    height: 40px;
    width: fit-content;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    margin-top: 10px;
    font-size: 1.1rem;
    color: #000000;
    border: none;
    background-color: #F5F5F5;
    cursor: pointer;
}

main .control button:hover {
    background-color: #FF0000CC;
    color: #F5F5F5;
    transition: ease-in-out 0.3s;
}

main .control button:active {
    transform: scale(0.98);
    transition: ease-in-out 0.1s;
}
