* {
    box-sizing: border-box; /* Ensures padding and border are included in element's width */
}

body {
    background-color: #000000;
    margin: 0 0 0 175px;
    padding: 0;
    display: flex;
    justify-content: center;
}

/* font style */
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 0.9rem;
    color: #F5F5F5;
}
  



/* sidebar */
.sidebar {
    position: fixed;
    top: 1%;
    left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 165px;
    height: 98%;
    background-color: #252525;
    border: 2px solid #F5F5F577;
}

.sidebar .back-home {
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    margin-bottom: 40px;
    padding-left: 25px;
}

.sidebar .back-home span{
    margin-right: 10px;
}

.sidebar .back-home:hover {
    color: #F5F5F5;
    background-color: rgba(255, 0, 0, 0.5);
}

.sidebar .topic {
    display: flex;
    height: 80px;
    width: 100%;
    text-decoration: none;
    color: #F5F5F5;
    font-size: 1.2rem;
    font-weight: 600;
    align-items: center;
    justify-content: center;
}

.sidebar .topic span{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 25px;
    margin-left: 15px;
    color: #000000;
    background-color: #F5F5F5;
}

.sidebar .topic .active {
    color: #F5F5F5;
    background-color: red;
}

.sidebar a:hover {
    color: red;
    background-color: #303030;
    transition: 0.15s ease-in-out;
}



/* animation section */

main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 100vh;
    width: calc(100% - 120px);
}

main h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin: 0;
}

main .animation-board {
    display: flex;
    width: 100%;
    height: calc(100% - 140px);
    margin-bottom: 20px;
} 

main .animation-board .animation {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 70%;
    align-items: start;
    justify-content: start;
}

main .animation-board .animation .action-btn-container {
    display: flex;
    width: 800px;
    margin-top: 20px;
    justify-content: start;
    gap: 20px;
}

main .animation-board .animation .action-btn-container button {
    display: flex;
    height: 45px;
    width: fit-content;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    font-size: 1.1rem;
    color: #F5F5F5;
    background-color: #252525; 
    border: 2px solid #F5F5F577;
    cursor: pointer;
}

main .animation-board .animation .action-btn-container button:hover {
    border: 2px solid red;
    transition: 0.15s ease-in-out;
}

main .animation-board .animation .action-btn-container button:active {
    transform: scale(0.98);
    transition: ease-in-out 0.1s;
}

main .animation-board .control {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 30%;
    gap: 20px;
    height: 100%; 
    overflow-y: hidden;
}

main .animation-board .control:hover {
    overflow-y: auto;
}

main .animation-board .control .control-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* width: calc(100% - 20px); */
    width: 100%;
    height: fit-content;
    padding: 30px;
    background-color: #252525;
    border: 2px solid #F5F5F577;
}

main .animation-board .control .control-section:hover {
    border: 2px solid red;
    transition: 0.3s ease-in-out;
}

main .animation-board .control .control-section h2 {
    margin: 0 0 20px 0;
}

main .animation-board .control .control-section p {
    margin: 0 0 10px 0;   
}

main .animation-board .control .control-section span {
    font-weight: 600;   
}

main .animation-board .animation .description {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: calc(100% - 430px);
    margin-top: 35px;
    align-items: center;
    gap: 15px;
    font-size: 1.1rem;
    overflow-y: hidden;
}

main .animation-board .animation .description:hover {
    overflow-y: auto;
}

main .animation-board .animation .description p {
    margin: 0;
}

main .animation-board .animation .description span {
    color: red;
    font-weight: 600;
}

/* Change the track color and width */

input[type="range"] {
    width: 70%;
    accent-color: red;
}