* {
    box-sizing: border-box; /* Ensures padding and border are included in element's width */
}

body {
    background-color: #000000;
    margin: 0 0 0 180px;
    padding: 0;
    display: flex;
}

/* font style */
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 0.9rem;
    color: #F5F5F5;
}
  



/* sidebar */
.sidebar {
    position: fixed;
    top: 1%;
    left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 165px;
    height: 98%;
    background-color: #252525;
    border: 2px solid #F5F5F577;
}

.sidebar .back-home {
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    margin-bottom: 40px;
    padding-left: 25px;
}

.sidebar .back-home span{
    margin-right: 10px;
}

.sidebar .back-home:hover {
    color: #F5F5F5;
    background-color: rgba(255, 0, 0, 0.5);
}

.sidebar .topic {
    display: flex;
    height: 80px;
    width: 100%;
    text-decoration: none;
    color: #F5F5F5;
    font-size: 1.2rem;
    font-weight: 600;
    align-items: center;
    justify-content: center;
}

.sidebar .topic span{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 25px;
    margin-left: 15px;
    color: #000000;
    background-color: #F5F5F5;
}

.sidebar .topic .active {
    color: #F5F5F5;
    background-color: red;
}

.sidebar a:hover {
    color: red;
    background-color: #303030;
    transition: 0.15s ease-in-out;
}



/* animation section */

main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 870px;
    width: 100%;
    padding: 0 70px;
}

main h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    margin: 30px;
}
