* {
    box-sizing: border-box; /* Ensures padding and border are included in element's width */
}

body {
    background-color: #000000;
    margin: 0 0 0 180px;
    padding: 0;
    display: flex;
    height: 100vh;
}

/* font style */
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #F5F5F5;
}



/* sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 180px;
    height: 100vh;
    background-color: #101010;
}

.sidebar .back-home {
    display: flex;
    height: 55px;
    width: fit-content;
    align-items: center;
    margin: 10px 0 30px 10px;
    padding: 0 13px 0 20px;
    border-radius: 25px;
}

.sidebar .back-home:hover {
    background-color: #252525;
}

.sidebar .chapters {
    display: flex;
    height: 65px;
    width: 100%;
    text-decoration: none;
    color: #F5F5F5;
    font-size: 1.2rem;
    font-weight: 600;
    align-items: center;
    padding: 0 25px;
}

.sidebar .chapters span{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 25px;
    margin-left: 15px;
    color: #000000;
    background-color: #F5F5F5;
}

.sidebar .chapters .active {
    color: #F5F5F5;
    background-color: red;
}

.sidebar a:hover {
    transform: scale(1.01);
    color: red;
    transition: 0.15s ease-in-out;
}