<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Networking Animations</title>

    <link rel="stylesheet" href="/static/css/styles.css">

    <!-- text font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    
</head>
<body class="poppins-regular">

    <nav>
        <h1>ICE</h1>

        <ul>
            <li>
                <a href="">Developer</a>
            </li>

            <li>
                <a href="">About</a>
            </li>

            <li>
                <a href="/chapter1" class="start-btn">Explore Now</a>
            </li>
        </ul>
    </nav>

    <section class="hero">

        <div class="title">
            <h1>
                Introduction to Communication Engineering
                <span>Animations</span>
            </h1>

            <div class="description">
                <p>
                    Dive into each chapter to enhance your understanding of networking principles through dynamic visualizations
                </p>
            </div>

            <a href="/chapter1">Explore Now</a>
            
        </div>

        <div class="image">
            <img src="/static/images/data communications and networking cover.png" alt="">
        </div>

    </section>


    <main>

        <h1>Chapters</h1>

        <div class="two-chapters">
            <a href="/chapter1">
                <h4>Chapter 1</h4>
                <p>Electronic Communication</p>
            </a>

            <a href="/chapter2">
                <h4>Chapter 2</h4> 
                <p>Data Communication</p>
            </a>

            <a href="/chapter3">
                <h4>Chapter 3</h4> 
                <p>Data and Signals</p>
            </a>
        </div>

        <div class="two-chapters">
            <a href="/chapter4">
                <h4>Chapter 4</h4>
                <p>Digital and Analog Transmission</p>
            </a>

            <a href="/chapter5">
                <h4>Chapter 5</h4> 
                <p>Multiplexing and Spreading</p>
            </a>

            <a href="/chapter6">
                <h4>Chapter 6</h4> 
                <p>Radio Receiver</p>
            </a>
        </div>

        <div class="two-chapters">
            <a href="/chapter7">
                <h4>Chapter 7</h4>
                <p>Transmission Media</p>
            </a>

            <a href="/chapter8">
                <h4>Chapter 8</h4> 
                <p>Switching Network</p>
            </a>

            <a href="/chapter9">
                <h4>Chapter 9</h4> 
                <p>Telecommunication system</p>
            </a>
        </div>

        <div class="two-chapters">
            <a href="/chapter10">
                <h4>Chapter 10</h4>
                <p>Satellite communication system</p>
            </a>

            <a href="/chapter10">
                <h4>Chapter 11</h4>
                <p>Optical Communication</p>
            </a>

            <div class="empty"></div>
        </div>
        
    </main>


    <footer>

        <div class="footer-box">
            <h3>
                Introduction to Communication Engineering
                <span>Animations</span>
            </h3>

            <a href="/chapter1">Explore Now</a>
        </div>

        <div class="footer-box box2">
            <div class="contact-address">
                <h4>Contact</h4>
                <p>123-456-789</p>
                <p>ice@gmail.com</p>
            </div>

            <div class="contact-address">
                <h4>Address</h4>
                <p>Marwadi university</p>
            </div>
        </div>

    </footer>

</body>
</html>
